<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coffee Quest</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="title-section">
     <h1>COFFEE QUEST</h1>
    </div>
    <div id="about-section">
      <br>
      <p>FIND YOUR PERFECT CUP</p>
      <br>
      <br>
      <p>COFFEE QUEST ALLOWS YOU TO FIND YOUR PERFECT COFFEE LOCATION. TAKE THE QUIZ TO FIND WASHINGTON  COFFEE THAT YOU WILL LOVE</p>
      <br>
      <p>SPHINX OF BLACK QUARTZ, HEED MY VOW</p>
        <input type = "submit" value = "CLICK! YOUR MIND WILL BE BLOWN">
          <br>
    </div>
  </body>
</html>