<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Quest</title>
  </head>
  
  <body>
    <h2>YOUR CUP IS <%=@the_result%>.
    <br>
    <%=@the_result_img%>
    <br>
    TO FIND OUT MORE ABOUT <%=@the_result%>, GO TO <%=@the_result_link%>, SO GET SIPPIN'!
    </h2>
  </body>
  
</html>